body {
  font-family: 'Quicksand', sans-serif;
  background: #ffe6f0;
  text-align: center;
  padding: 50px 20px;
  color: #333;
  
  background:
  linear-gradient(180deg, #fff4f8 0%, #ffeecf 100%),
  url('https://i.ibb.co/yRFrgQp/bear-pattern.png') repeat;

}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  margin-bottom: 30px;
}

.her-photo {
  width: 180px;
  border-radius: 50%;
  border: 4px solid #ffc0cb;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.envelopes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.envelope {
  background: #ffccda;
  border-radius: 10px;
  padding: 20px 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  font-size: 18px;
}

.envelope:hover {
  transform: scale(1.05);
  background: #ffc0cb;
}

.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
audio {
  display: none;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 85%;
  max-width: 500px;
  position: relative;
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
}

.popup-content img {
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

.close {
  position: absolute;
  top: 10px; right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}
